<%- include('../../layout/app', {title: 'Vendas'}) %>
<%- include('../../layout/partials/header') %>

<div class="container py-5 pt-4">
    <div class="d-lg-flex align-items-center">
        <div class="col-lg-6">
            <h1>Vendas</h1>
        </div>
        <div class="col-lg-6 text-end">
            <a class="btn btn-primary" href="/vendas/novo">
                <i class="fa-solid fa-plus"></i>
                Nova Venda
            </a>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">

            <% if (msgs.success) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong><%= msgs.success %></strong>
            </div>
            <% }  %>
            <% if (msgs.error) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong><%= msgs.error %></strong>
            </div>
            <% }  %>

            <div class="table-responsive mb-3">
                <table class="table table-hover table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">Produto</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Total</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Data</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% sales.data.forEach(sale => { %>
                        <tr class="">
                            <td scope="row"><%= sale.product.name %></td>
                            <td><%= sale.customer.name %></td>
                            <td><%= sale.total %></td>
                            <td>
                                <%= Number(sale.price).toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) %>
                            </td>
                            <td><%= formatDate(sale.createdAt, 'DD/MM/YYYY') %></td>
                            <td>
                                <a class="btn btn-none text-danger p-0" title="Deletar" data-bs-toggle="modal"
                                    data-bs-target="#modal-delete"
                                    onclick="document.getElementById('form-delete').action='/vendas/deletar/<%= sale.id %>';"
                                    href="#">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <!-- Paginação -->
            <%- include('../../components/paginate', {dataPaginate: sales}) %>
        </div>
    </div>
</div>

<%- include('../../components/modal-delete') %>
<%- include('../../layout/partials/footer') %>